# Analysis of defaults of credit cards clients

In [1]:
## Download and import the file
import pandas as pd
import xlrd 
import urllib2

link ='https://github.com/adrian-dembek/CreditDefault/raw/master/default%20of%20credit%20card%20clients.xls'
socket = urllib2.urlopen(link)

xd = pd.ExcelFile(socket)

In [2]:
xd.sheet_names

[u'Data']

In [3]:
df = xd.parse(xd.sheet_names[-1], header=1, index_col = 0)

In [4]:
df.head(10)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
6,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
7,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
8,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
9,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
10,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0

In [5]:
df.tail(2)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [6]:
df.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [7]:
# Convert columns to str
df.ix[:,1:4] = df.ix[:,1:4].astype(str)

In [8]:
# Check if columns converted to str
df.groupby("SEX").size().rename('counts')

SEX
1    11888
2    18112
Name: counts, dtype: int64

In [9]:
df.groupby("EDUCATION").size().rename('counts')

EDUCATION
0       14
1    10585
2    14030
3     4917
4      123
5      280
6       51
Name: counts, dtype: int64

In [10]:
df.groupby("MARRIAGE").size().rename('counts')

MARRIAGE
0       54
1    13659
2    15964
3      323
Name: counts, dtype: int64

## Create Spark Data Frame using sqlContext

In [11]:
spark_df = sqlContext.createDataFrame(df)

In [12]:
spark_df.printSchema()

root
 |-- LIMIT_BAL: long (nullable = true)
 |-- SEX: string (nullable = true)
 |-- EDUCATION: string (nullable = true)
 |-- MARRIAGE: string (nullable = true)
 |-- AGE: long (nullable = true)
 |-- PAY_0: long (nullable = true)
 |-- PAY_2: long (nullable = true)
 |-- PAY_3: long (nullable = true)
 |-- PAY_4: long (nullable = true)
 |-- PAY_5: long (nullable = true)
 |-- PAY_6: long (nullable = true)
 |-- BILL_AMT1: long (nullable = true)
 |-- BILL_AMT2: long (nullable = true)
 |-- BILL_AMT3: long (nullable = true)
 |-- BILL_AMT4: long (nullable = true)
 |-- BILL_AMT5: long (nullable = true)
 |-- BILL_AMT6: long (nullable = true)
 |-- PAY_AMT1: long (nullable = true)
 |-- PAY_AMT2: long (nullable = true)
 |-- PAY_AMT3: long (nullable = true)
 |-- PAY_AMT4: long (nullable = true)
 |-- PAY_AMT5: long (nullable = true)
 |-- PAY_AMT6: long (nullable = true)
 |-- default payment next month: long (nullable = true)

In [13]:
from IPython.core.display import display
display(spark_df.toPandas().head())

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [14]:
spark_df = spark_df.withColumnRenamed("default payment next month", "default")

In [15]:
## Change type of variable
#from pyspark.sql.types import DoubleType
#spark_df = spark_df.withColumn("default", spark_df.default.cast(DoubleType()))

from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol="default", outputCol="defaultIndex")
spark_df = indexer.fit(spark_df).transform(spark_df)

indexer = StringIndexer(inputCol="SEX", outputCol="sexIndex")
spark_df = indexer.fit(spark_df).transform(spark_df)

indexer = StringIndexer(inputCol="EDUCATION", outputCol="educationIndex")
spark_df = indexer.fit(spark_df).transform(spark_df)

indexer = StringIndexer(inputCol="MARRIAGE", outputCol="marriageIndex")
spark_df = indexer.fit(spark_df).transform(spark_df)

display(spark_df.toPandas())

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,defaultIndex,sexIndex,educationIndex,marriageIndex
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,1,1.0,0.0,0.0,1.0
1,120000,2,2,2,26,-1,2,0,0,0,...,1000,1000,1000,0,2000,1,1.0,0.0,0.0,0.0
2,90000,2,2,2,34,0,0,0,0,0,...,1500,1000,1000,1000,5000,0,0.0,0.0,0.0,0.0
3,50000,2,2,1,37,0,0,0,0,0,...,2019,1200,1100,1069,1000,0,0.0,0.0,0.0,1.0
4,50000,1,2,1,57,-1,0,-1,0,0,...,36681,10000,9000,689,679,0,0.0,1.0,0.0,1.0
5,50000,1,1,2,37,0,0,0,0,0,...,1815,657,1000,1000,800,0,0.0,1.0,1.0,0.0
6,500000,1,1,2,29,0,0,0,0,0,...,40000,38000,20239,13750,13770,0,0.0,1.0,1.0,0.0
7,100000,2,2,2,23,0,-1,-1,0,0,...,601,0,581,1687,1542,0,0.0,0.0,0.0,0.0
8,140000,2,3,1,28,0,0,2,0,0,...,0,432,1000,1000,1000,0,0.0,0.0,2.0,1.0
9,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,0,13007,1122,0,0,0.0,1.0,2.0,0.0
10,200000,2,3,2,34,0,0,2,0,0,...,12,50,300,3738,66,0,0.0,0.0,2.0,0.0
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,9966,8583,22301,0,3640,0,0.0,0.0,1.0,0.0
12,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,6500,2870,0,0,0.0,0.0,0.0,0.0
13,70000,1,2,2,30,1,2,2,0,0,...,0,3000,3000,1500,0,1,1.0,1.0,0.0,0.0
14,250000,1,1,2,29,0,0,0,0,0,...,3000,3000,3000,3000,3000,0,0.0,1.0,1.0,0.0
15,50000,2,3,3,23,1,2,0,0,0,...,1500,1100,1200,1300,1100,0,0.0,0.0,2.0,2.0
16,20000,1,1,2,24,0,0,2,2,2,...,0,1500,0,1650,0,1,1.0,1.0,1.0,0.0
17,320000,1,1,1,49,0,0,0,-1,-1,...,10000,75940,20000,195599,50000,0,0.0,1.0,1.0,1.0
18,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0.0,0.0,1.0,1.0
19,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0.0,0.0,1.0,0.0
20,130000,2,3,2,39,0,0,0,0,0,...,1537,1000,2000,930,33764,0,0.0,0.0,2.0,0.0
21,120000,2,2,1,39,-1,-1,-1,-1,-1,...,316,0,632,316,0,1,1.0,0.0,0.0,1.0
22,70000,2,2,2,26,2,0,0,2,2,...,3582,0,3601,0,1820,1,1.0,0.0,0.0,0.0
23,450000,2,1,1,40,-2,-2,-2,-2,-2,...,1473,560,0,0,1128,1,1.0,0.0,1.0,1.0
24,90000,1,1,2,23,0,0,0,-1,0,...,0,5398,1200,2045,2000,0,0.0,1.0,1.0,0.0
25,50000,1,3,2,23,0,0,0,0,0,...,1426,1001,1432,1062,997,0,0.0,1.0,2.0,0.0
26,60000,1,1,2,27,1,-2,-1,-1,-1,...,1000,0,500,0,1000,1,1.0,1.0,1.0,0.0
27,50000,2,3,2,30,0,0,0,0,0,...,1300,1000,1500,1000,1012,0,0.0,0.0,2.0,0.0
28,50000,2,3,1,47,-1,-1,-1,-1,-1,...,3421,2044,30430,257,0,0,0.0,0.0,2.0,1.0
29,50000,1,1,2,26,0,0,0,0,0,...,1500,1000,1000,1600,0,0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,360000,1,1,1,34,-1,-1,-1,0,0,...,64535,8907,53,19584,16080,0,0.0,1.0,1.0,1.0
29971,80000,1,3,1,36,0,0,0,0,0,...,2500,2530,2556,3700,3000,0,0.0,1.0,2.0,1.0
29972,190000,1,1,1,37,0,0,0,0,0,...,3869,25128,10115,148482,4800,0,0.0,1.0,1.0,1.0
29973,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,1,1.0,1.0,0.0,1.0
29974,50000,1,2,1,37,1,2,2,2,0,...,3000,0,0,1000,1000,1,1.0,1.0,0.0,1.0
29975,220000,1,2,1,41,0,0,-1,-1,-2,...,6643,5924,1759,1824,7022,0,0.0,1.0,0.0,1.0
29976,40000,1,2,2,47,2,2,3,2,2,...,0,2000,0,3520,0,1,1.0,1.0,0.0,0.0
29977,420000,1,1,2,34,0,0,0,0,0,...,7000,5500,5500,5600,5000,0,0.0,1.0,1.0,0.0
29978,310000,1,2,1,39,0,0,0,0,0,...,9218,10029,8049,8040,10059,0,0.0,1.0,0.0,1.0
29979,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0.0,1.0,1.0,1.0
29980,50000,1,3,2,42,0,0,0,0,0,...,4000,5000,3000,4500,2000,0,0.0,1.0,2.0,0.0
29981,50000,1,2,1,44,1,2,2,2,0,...,1700,0,517,503,585,0,0.0,1.0,0.0,1.0
29982,90000,1,2,1,36,0,0,0,0,0,...,1500,1500,1200,2500,0,1,1.0,1.0,0.0,1.0
29983,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2720,2890,9263,1824,1701,0,0.0,1.0,0.0,1.0
29984,30000,1,2,2,38,-1,-1,-2,-1,-1,...,2977,1999,3057,3319,1000,0,0.0,1.0,0.0,0.0
29985,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0.0,1.0,1.0,0.0
29986,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0.0,1.0,1.0,0.0
29987,130000,1,1,2,34,0,0,0,0,0,...,2000,93000,4000,5027,4005,0,0.0,1.0,1.0,0.0
29988,250000,1,1,1,34,0,0,0,0,0,...,8800,9011,6000,7000,6009,0,0.0,1.0,1.0,1.0
29989,150000,1,1,2,35,-1,-1,-1,-1,-1,...,0,783,0,0,0,0,0.0,1.0,1.0,0.0
29990,140000,1,2,1,41,0,0,0,0,0,...,7000,4228,1505,2000,2000,0,0.0,1.0,0.0,1.0
29991,210000,1,2,1,34,3,2,2,2,2,...,0,0,0,0,0,1,1.0,1.0,0.0,1.0
29992,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,0,0,0,0.0,1.0,2.0,1.0
29993,100000,1,1,2,38,0,-1,-1,0,0,...,111784,4000,3000,2000,2000,0,0.0,1.0,1.0,0.0
29994,80000,1,2,2,34,2,2,2,2,2,...,3500,0,7000,0,4000,1,1.0,1.0,0.0,0.0
29995,220000,1,3,1,39,0,0,0,0,0,...,20000,5003,3047,5000,1000,0,0.0,1.0,2.0,1.0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,3526,8998,129,0,0,0,0.0,1.0,2.0,0.0
29997,30000,1,2,2,37,4,3,2,-1,0,...,0,22000,4200,2000,3100,1,1.0,1.0,0.0,0.0
29998,80000,1,3,1,41,1,-1,0,0,0,...,3409,1178,1926,52964,1804,1,1.0,1.0,2.0,1.0
29999,50000,1,2,1,46,0,0,0,0,0,...,1800,1430,1000,1000,1000,1,1.0,1.0,0.0,1.0

In [16]:
from pyspark.ml.feature import OneHotEncoder

In [17]:
encoder = OneHotEncoder(inputCol="educationIndex", outputCol="educationOne")
spark_df = encoder.transform(spark_df)

encoder = OneHotEncoder(inputCol="marriageIndex", outputCol="marriageOne")
spark_df = encoder.transform(spark_df)

In [18]:
## Remove columns

#spark_df = spark_df.drop("SEX", "EDUCATION", "MARRIAGE", "default", "educationIndex", "marriageIndex")

spark_df = spark_df.select([c for c in spark_df.columns if c not in {"SEX", "EDUCATION", "MARRIAGE", "default", "educationIndex", "marriageIndex"}])

In [19]:
display(spark_df.toPandas())

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaultIndex,sexIndex,educationOne,marriageOne
0,20000,24,2,2,-1,-1,-2,-2,3913,3102,...,0,689,0,0,0,0,1.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
1,120000,26,-1,2,0,0,0,2,2682,1725,...,0,1000,1000,1000,0,2000,1.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
2,90000,34,0,0,0,0,0,0,29239,14027,...,1518,1500,1000,1000,1000,5000,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
3,50000,37,0,0,0,0,0,0,46990,48233,...,2000,2019,1200,1100,1069,1000,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
4,50000,57,-1,0,-1,0,0,0,8617,5670,...,2000,36681,10000,9000,689,679,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
5,50000,37,0,0,0,0,0,0,64400,57069,...,2500,1815,657,1000,1000,800,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
6,500000,29,0,0,0,0,0,0,367965,412023,...,55000,40000,38000,20239,13750,13770,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
7,100000,23,0,-1,-1,0,0,-1,11876,380,...,380,601,0,581,1687,1542,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
8,140000,28,0,0,2,0,0,0,11285,14096,...,3329,0,432,1000,1000,1000,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
9,20000,35,-2,-2,-2,-2,-1,-1,0,0,...,0,0,0,13007,1122,0,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
10,200000,34,0,0,2,0,0,-1,11073,9787,...,2306,12,50,300,3738,66,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
11,260000,51,-1,-1,-1,-1,-1,2,12261,21670,...,21818,9966,8583,22301,0,3640,0.0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
12,630000,41,-1,0,-1,-1,-1,-1,12137,6500,...,1000,6500,6500,6500,2870,0,0.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
13,70000,30,1,2,2,0,0,2,65802,67369,...,3200,0,3000,3000,1500,0,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
14,250000,29,0,0,0,0,0,0,70887,67060,...,3000,3000,3000,3000,3000,3000,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
15,50000,23,1,2,0,0,0,0,50614,29173,...,0,1500,1100,1200,1300,1100,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)"
16,20000,24,0,0,2,2,2,2,15376,18010,...,3200,0,1500,0,1650,0,1.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
17,320000,49,0,0,0,-1,-1,-1,253286,246536,...,10358,10000,75940,20000,195599,50000,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
18,360000,49,1,-2,-2,-2,-2,-2,0,0,...,0,0,0,0,0,0,0.0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
19,180000,29,1,-2,-2,-2,-2,-2,0,0,...,0,0,0,0,0,0,0.0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
20,130000,39,0,0,0,0,0,-1,38358,27688,...,3000,1537,1000,2000,930,33764,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
21,120000,39,-1,-1,-1,-1,-1,-1,316,316,...,316,316,0,632,316,0,1.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
22,70000,26,2,0,0,2,2,2,41087,42445,...,2007,3582,0,3601,0,1820,1.0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
23,450000,40,-2,-2,-2,-2,-2,-2,5512,19420,...,19428,1473,560,0,0,1128,1.0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
24,90000,23,0,0,0,-1,0,0,4744,7070,...,5757,0,5398,1200,2045,2000,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
25,50000,23,0,0,0,0,0,0,47620,41810,...,1973,1426,1001,1432,1062,997,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
26,60000,27,1,-2,-1,-1,-1,-1,-109,-425,...,0,1000,0,500,0,1000,1.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
27,50000,30,0,0,0,0,0,0,22541,16138,...,1300,1300,1000,1500,1000,1012,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
28,50000,47,-1,-1,-1,-1,-1,-1,650,3415,...,3415,3421,2044,30430,257,0,0.0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29,50000,26,0,0,0,0,0,0,15329,16575,...,1500,1500,1000,1000,1600,0,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,360000,34,-1,-1,-1,0,0,-1,33654,52686,...,52951,64535,8907,53,19584,16080,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29971,80000,36,0,0,0,0,0,0,65554,66858,...,2395,2500,2530,2556,3700,3000,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29972,190000,37,0,0,0,0,0,-1,21628,20893,...,2000,3869,25128,10115,148482,4800,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29973,230000,35,1,-2,-2,-2,-2,-2,0,0,...,0,0,0,0,0,0,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29974,50000,37,1,2,2,2,0,0,10904,9316,...,0,3000,0,0,1000,1000,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29975,220000,41,0,0,-1,-1,-2,-2,45075,8840,...,8840,6643,5924,1759,1824,7022,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29976,40000,47,2,2,3,2,2,2,52358,54892,...,4000,0,2000,0,3520,0,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29977,420000,34,0,0,0,0,0,0,131939,136721,...,7000,7000,5500,5500,5600,5000,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29978,310000,39,0,0,0,0,0,0,238973,237196,...,10029,9218,10029,8049,8040,10059,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29979,180000,32,-2,-2,-2,-2,-2,-2,0,0,...,0,0,0,0,0,0,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29980,50000,42,0,0,0,0,0,0,43998,49123,...,10000,4000,5000,3000,4500,2000,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29981,50000,44,1,2,2,2,0,0,38671,36772,...,2300,1700,0,517,503,585,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29982,90000,36,0,0,0,0,0,0,7752,9112,...,1500,1500,1500,1200,2500,0,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29983,20000,44,-2,-2,-2,-2,-2,-2,1822,2872,...,2890,2720,2890,9263,1824,1701,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29984,30000,38,-1,-1,-2,-1,-1,-1,315,923,...,923,2977,1999,3057,3319,1000,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29985,240000,30,-2,-2,-2,-2,-2,-2,0,0,...,0,0,0,0,0,0,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29986,360000,35,-1,-1,-2,-2,-2,-2,2220,0,...,0,0,0,0,0,0,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29987,130000,34,0,0,0,0,0,0,23292,14077,...,3000,2000,93000,4000,5027,4005,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29988,250000,34,0,0,0,0,0,0,279640,252913,...,65000,8800,9011,6000,7000,6009,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29989,150000,35,-1,-1,-1,-1,-1,-2,3425,9009,...,9054,0,783,0,0,0,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29990,140000,41,0,0,0,0,0,0,138325,137142,...,6000,7000,4228,1505,2000,2000,0.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29991,210000,34,3,2,2,2,2,2,2500,2500,...,0,0,0,0,0,0,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29992,10000,43,0,0,0,-2,-2,-2,8802,10400,...,2000,0,0,0,0,0,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29993,100000,38,0,-1,-1,0,0,0,3042,1427,...,2000,111784,4000,3000,2000,2000,0.0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29994,80000,34,2,2,2,2,2,2,72557,77708,...,7000,3500,0,7000,0,4000,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29995,220000,39,0,0,0,0,0,0,188948,192815,...,8500,20000,5003,3047,5000,1000,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29996,150000,43,-1,-1,-1,-1,0,0,1683,1828,...,1837,3526,8998,129,0,0,0.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29997,30000,37,4,3,2,-1,0,0,3565,3356,...,0,0,22000,4200,2000,3100,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)"
29998,80000,41,1,-1,0,0,0,-1,-1645,78379,...,85900,3409,1178,1926,52964,1804,1.0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
29999,50000,46,0,0,0,0,0,0,47929,48905,...,2078,1800,1430,1000,1000,1000,1.0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"

In [20]:
spark_df.printSchema()

root
 |-- LIMIT_BAL: long (nullable = true)
 |-- AGE: long (nullable = true)
 |-- PAY_0: long (nullable = true)
 |-- PAY_2: long (nullable = true)
 |-- PAY_3: long (nullable = true)
 |-- PAY_4: long (nullable = true)
 |-- PAY_5: long (nullable = true)
 |-- PAY_6: long (nullable = true)
 |-- BILL_AMT1: long (nullable = true)
 |-- BILL_AMT2: long (nullable = true)
 |-- BILL_AMT3: long (nullable = true)
 |-- BILL_AMT4: long (nullable = true)
 |-- BILL_AMT5: long (nullable = true)
 |-- BILL_AMT6: long (nullable = true)
 |-- PAY_AMT1: long (nullable = true)
 |-- PAY_AMT2: long (nullable = true)
 |-- PAY_AMT3: long (nullable = true)
 |-- PAY_AMT4: long (nullable = true)
 |-- PAY_AMT5: long (nullable = true)
 |-- PAY_AMT6: long (nullable = true)
 |-- defaultIndex: double (nullable = true)
 |-- sexIndex: double (nullable = true)
 |-- educationOne: vector (nullable = true)
 |-- marriageOne: vector (nullable = true)

In [21]:
spark_df.columns

['LIMIT_BAL',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'defaultIndex',
 'sexIndex',
 'educationOne',
 'marriageOne']

In [22]:
spark_df = spark_df.select('defaultIndex', 
 'LIMIT_BAL',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'sexIndex',
 'educationOne',
 'marriageOne')

In [23]:
spark_df.printSchema()

root
 |-- defaultIndex: double (nullable = true)
 |-- LIMIT_BAL: long (nullable = true)
 |-- AGE: long (nullable = true)
 |-- PAY_0: long (nullable = true)
 |-- PAY_2: long (nullable = true)
 |-- PAY_3: long (nullable = true)
 |-- PAY_4: long (nullable = true)
 |-- PAY_5: long (nullable = true)
 |-- PAY_6: long (nullable = true)
 |-- BILL_AMT1: long (nullable = true)
 |-- BILL_AMT2: long (nullable = true)
 |-- BILL_AMT3: long (nullable = true)
 |-- BILL_AMT4: long (nullable = true)
 |-- BILL_AMT5: long (nullable = true)
 |-- BILL_AMT6: long (nullable = true)
 |-- PAY_AMT1: long (nullable = true)
 |-- PAY_AMT2: long (nullable = true)
 |-- PAY_AMT3: long (nullable = true)
 |-- PAY_AMT4: long (nullable = true)
 |-- PAY_AMT5: long (nullable = true)
 |-- PAY_AMT6: long (nullable = true)
 |-- sexIndex: double (nullable = true)
 |-- educationOne: vector (nullable = true)
 |-- marriageOne: vector (nullable = true)

## Format variables

In [24]:
#stringIndexer = StringIndexer(inputCol="label", outputCol="indexed")

In [25]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=spark_df.columns[1:23], outputCol="features")

In [117]:
#from pyspark.ml.feature import VectorIndexer

# Automatically identify categorical features, and index them.
# Set maxCategories so features with > 4 distinct values are treated as continuous.
#featureIndexer =\
#    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=6)
    #.fit(spark_df)

In [26]:
spark_df = assembler.transform(spark_df)

In [27]:
display(spark_df.toPandas())

,defaultIndex,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,sexIndex,educationOne,marriageOne,features
0,1.0,20000,24,2,2,-1,-1,-2,-2,3913,...,0,689,0,0,0,0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(20000.0, 24.0, 2.0, 2.0, -1.0, -1.0, -2.0, -2..."
1,1.0,120000,26,-1,2,0,0,0,2,2682,...,0,1000,1000,1000,0,2000,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(120000.0, 26.0, -1.0, 2.0, 0.0, 0.0, 0.0, 2.0..."
2,0.0,90000,34,0,0,0,0,0,0,29239,...,1518,1500,1000,1000,1000,5000,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(90000.0, 34.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,0.0,50000,37,0,0,0,0,0,0,46990,...,2000,2019,1200,1100,1069,1000,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(50000.0, 37.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,0.0,50000,57,-1,0,-1,0,0,0,8617,...,2000,36681,10000,9000,689,679,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[50000.0, 57.0, -1.0, 0.0, -1.0, 0.0, 0.0, 0.0..."
5,0.0,50000,37,0,0,0,0,0,0,64400,...,2500,1815,657,1000,1000,800,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(50000.0, 37.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
6,0.0,500000,29,0,0,0,0,0,0,367965,...,55000,40000,38000,20239,13750,13770,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(500000.0, 29.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
7,0.0,100000,23,0,-1,-1,0,0,-1,11876,...,380,601,0,581,1687,1542,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[100000.0, 23.0, 0.0, -1.0, -1.0, 0.0, 0.0, -1..."
8,0.0,140000,28,0,0,2,0,0,0,11285,...,3329,0,432,1000,1000,1000,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(140000.0, 28.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0,..."
9,0.0,20000,35,-2,-2,-2,-2,-1,-1,0,...,0,0,0,13007,1122,0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(20000.0, 35.0, -2.0, -2.0, -2.0, -2.0, -1.0, ..."
10,0.0,200000,34,0,0,2,0,0,-1,11073,...,2306,12,50,300,3738,66,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[200000.0, 34.0, 0.0, 0.0, 2.0, 0.0, 0.0, -1.0..."
11,0.0,260000,51,-1,-1,-1,-1,-1,2,12261,...,21818,9966,8583,22301,0,3640,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[260000.0, 51.0, -1.0, -1.0, -1.0, -1.0, -1.0,..."
12,0.0,630000,41,-1,0,-1,-1,-1,-1,12137,...,1000,6500,6500,6500,2870,0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[630000.0, 41.0, -1.0, 0.0, -1.0, -1.0, -1.0, ..."
13,1.0,70000,30,1,2,2,0,0,2,65802,...,3200,0,3000,3000,1500,0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[70000.0, 30.0, 1.0, 2.0, 2.0, 0.0, 0.0, 2.0, ..."
14,0.0,250000,29,0,0,0,0,0,0,70887,...,3000,3000,3000,3000,3000,3000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(250000.0, 29.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
15,0.0,50000,23,1,2,0,0,0,0,50614,...,0,1500,1100,1200,1300,1100,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(50000.0, 23.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, ..."
16,1.0,20000,24,0,0,2,2,2,2,15376,...,3200,0,1500,0,1650,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[20000.0, 24.0, 0.0, 0.0, 2.0, 2.0, 2.0, 2.0, ..."
17,0.0,320000,49,0,0,0,-1,-1,-1,253286,...,10358,10000,75940,20000,195599,50000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[320000.0, 49.0, 0.0, 0.0, 0.0, -1.0, -1.0, -1..."
18,0.0,360000,49,1,-2,-2,-2,-2,-2,0,...,0,0,0,0,0,0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(360000.0, 49.0, 1.0, -2.0, -2.0, -2.0, -2.0, ..."
19,0.0,180000,29,1,-2,-2,-2,-2,-2,0,...,0,0,0,0,0,0,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(180000.0, 29.0, 1.0, -2.0, -2.0, -2.0, -2.0, ..."
20,0.0,130000,39,0,0,0,0,0,-1,38358,...,3000,1537,1000,2000,930,33764,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(130000.0, 39.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1.0..."
21,1.0,120000,39,-1,-1,-1,-1,-1,-1,316,...,316,316,0,632,316,0,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[120000.0, 39.0, -1.0, -1.0, -1.0, -1.0, -1.0,..."
22,1.0,70000,26,2,0,0,2,2,2,41087,...,2007,3582,0,3601,0,1820,0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[70000.0, 26.0, 2.0, 0.0, 0.0, 2.0, 2.0, 2.0, ..."
23,1.0,450000,40,-2,-2,-2,-2,-2,-2,5512,...,19428,1473,560,0,0,1128,0.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[450000.0, 40.0, -2.0, -2.0, -2.0, -2.0, -2.0,..."
24,0.0,90000,23,0,0,0,-1,0,0,4744,...,5757,0,5398,1200,2045,2000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(90000.0, 23.0, 0.0, 0.0, 0.0, -1.0, 0.0, 0.0,..."
25,0.0,50000,23,0,0,0,0,0,0,47620,...,1973,1426,1001,1432,1062,997,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(50000.0, 23.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
26,1.0,60000,27,1,-2,-1,-1,-1,-1,-109,...,0,1000,0,500,0,1000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[60000.0, 27.0, 1.0, -2.0, -1.0, -1.0, -1.0, -..."
27,0.0,50000,30,0,0,0,0,0,0,22541,...,1300,1300,1000,1500,1000,1012,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(50000.0, 30.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
28,0.0,50000,47,-1,-1,-1,-1,-1,-1,650,...,3415,3421,2044,30430,257,0,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[50000.0, 47.0, -1.0, -1.0, -1.0, -1.0, -1.0, ..."
29,0.0,50000,26,0,0,0,0,0,0,15329,...,1500,1500,1000,1000,1600,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(50000.0, 26.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,0.0,360000,34,-1,-1,-1,0,0,-1,33654,...,52951,64535,8907,53,19584,16080,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[360000.0, 34.0, -1.0, -1.0, -1.0, 0.0, 0.0, -..."
29971,0.0,80000,36,0,0,0,0,0,0,65554,...,2395,2500,2530,2556,3700,3000,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(80000.0, 36.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
29972,0.0,190000,37,0,0,0,0,0,-1,21628,...,2000,3869,25128,10115,148482,4800,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[190000.0, 37.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1.0..."
29973,1.0,230000,35,1,-2,-2,-2,-2,-2,0,...,0,0,0,0,0,0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(230000.0, 35.0, 1.0, -2.0, -2.0, -2.0, -2.0, ..."
29974,1.0,50000,37,1,2,2,2,0,0,10904,...,0,3000,0,0,1000,1000,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[50000.0, 37.0, 1.0, 2.0, 2.0, 2.0, 0.0, 0.0, ..."
29975,0.0,220000,41,0,0,-1,-1,-2,-2,45075,...,8840,6643,5924,1759,1824,7022,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[220000.0, 41.0, 0.0, 0.0, -1.0, -1.0, -2.0, -..."
29976,1.0,40000,47,2,2,3,2,2,2,52358,...,4000,0,2000,0,3520,0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[40000.0, 47.0, 2.0, 2.0, 3.0, 2.0, 2.0, 2.0, ..."
29977,0.0,420000,34,0,0,0,0,0,0,131939,...,7000,7000,5500,5500,5600,5000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(420000.0, 34.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29978,0.0,310000,39,0,0,0,0,0,0,238973,...,10029,9218,10029,8049,8040,10059,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(310000.0, 39.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29979,0.0,180000,32,-2,-2,-2,-2,-2,-2,0,...,0,0,0,0,0,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(180000.0, 32.0, -2.0, -2.0, -2.0, -2.0, -2.0,..."
29980,0.0,50000,42,0,0,0,0,0,0,43998,...,10000,4000,5000,3000,4500,2000,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(50000.0, 42.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
29981,0.0,50000,44,1,2,2,2,0,0,38671,...,2300,1700,0,517,503,585,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[50000.0, 44.0, 1.0, 2.0, 2.0, 2.0, 0.0, 0.0, ..."
29982,1.0,90000,36,0,0,0,0,0,0,7752,...,1500,1500,1500,1200,2500,0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(90000.0, 36.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
29983,0.0,20000,44,-2,-2,-2,-2,-2,-2,1822,...,2890,2720,2890,9263,1824,1701,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[20000.0, 44.0, -2.0, -2.0, -2.0, -2.0, -2.0, ..."
29984,0.0,30000,38,-1,-1,-2,-1,-1,-1,315,...,923,2977,1999,3057,3319,1000,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[30000.0, 38.0, -1.0, -1.0, -2.0, -1.0, -1.0, ..."
29985,0.0,240000,30,-2,-2,-2,-2,-2,-2,0,...,0,0,0,0,0,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(240000.0, 30.0, -2.0, -2.0, -2.0, -2.0, -2.0,..."
29986,0.0,360000,35,-1,-1,-2,-2,-2,-2,2220,...,0,0,0,0,0,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(360000.0, 35.0, -1.0, -1.0, -2.0, -2.0, -2.0,..."
29987,0.0,130000,34,0,0,0,0,0,0,23292,...,3000,2000,93000,4000,5027,4005,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(130000.0, 34.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29988,0.0,250000,34,0,0,0,0,0,0,279640,...,65000,8800,9011,6000,7000,6009,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(250000.0, 34.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29989,0.0,150000,35,-1,-1,-1,-1,-1,-2,3425,...,9054,0,783,0,0,0,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(150000.0, 35.0, -1.0, -1.0, -1.0, -1.0, -1.0,..."
29990,0.0,140000,41,0,0,0,0,0,0,138325,...,6000,7000,4228,1505,2000,2000,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(140000.0, 41.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29991,1.0,210000,34,3,2,2,2,2,2,2500,...,0,0,0,0,0,0,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(210000.0, 34.0, 3.0, 2.0, 2.0, 2.0, 2.0, 2.0,..."
29992,0.0,10000,43,0,0,0,-2,-2,-2,8802,...,2000,0,0,0,0,0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(10000.0, 43.0, 0.0, 0.0, 0.0, -2.0, -2.0, -2...."
29993,0.0,100000,38,0,-1,-1,0,0,0,3042,...,2000,111784,4000,3000,2000,2000,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[100000.0, 38.0, 0.0, -1.0, -1.0, 0.0, 0.0, 0...."
29994,1.0,80000,34,2,2,2,2,2,2,72557,...,7000,3500,0,7000,0,4000,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[80000.0, 34.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ..."
29995,0.0,220000,39,0,0,0,0,0,0,188948,...,8500,20000,5003,3047,5000,1000,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(220000.0, 39.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
29996,0.0,150000,43,-1,-1,-1,-1,0,0,1683,...,1837,3526,8998,129,0,0,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[150000.0, 43.0, -1.0, -1.0, -1.0, -1.0, 0.0, ..."
29997,1.0,30000,37,4,3,2,-1,0,0,3565,...,0,0,22000,4200,2000,3100,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","[30000.0, 37.0, 4.0, 3.0, 2.0, -1.0, 0.0, 0.0,..."
29998,1.0,80000,41,1,-1,0,0,0,-1,-1645,...,85900,3409,1178,1926,52964,1804,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","[80000.0, 41.0, 1.0, -1.0, 0.0, 0.0, 0.0, -1.0..."
29999,1.0,50000,46,0,0,0,0,0,0,47929,...,2078,1800,1430,1000,1000,1000,1.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(50000.0, 46.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

## Create training and testing data

In [28]:
(trainingData, testData) = spark_df.randomSplit([0.7,0.3])
trainingData.cache()
testData.cache()

DataFrame[defaultIndex: double, LIMIT_BAL: bigint, AGE: bigint, PAY_0: bigint, PAY_2: bigint, PAY_3: bigint, PAY_4: bigint, PAY_5: bigint, PAY_6: bigint, BILL_AMT1: bigint, BILL_AMT2: bigint, BILL_AMT3: bigint, BILL_AMT4: bigint, BILL_AMT5: bigint, BILL_AMT6: bigint, PAY_AMT1: bigint, PAY_AMT2: bigint, PAY_AMT3: bigint, PAY_AMT4: bigint, PAY_AMT5: bigint, PAY_AMT6: bigint, sexIndex: double, educationOne: vector, marriageOne: vector, features: vector]

## Decision tree basic model

In [119]:
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.classification import DecisionTreeClassifier

dtc = DecisionTreeClassifier(labelCol="defaultIndex", featuresCol="features")

In [120]:
from pyspark.ml import Pipeline

dtPipeline = Pipeline(stages = [assembler, dtc])

In [168]:
dectree = dtc.fit(trainingData)

In [172]:
dectree.featureImportances

AttributeError: 'DecisionTreeClassificationModel' object has no attribute 'featureImportances'

### Classification tree

In [121]:
#Create initial decision tree model
initialModel = dtPipeline.fit(trainingData)

In [122]:
initialPredictions = initialModel.transform(testData)

In [123]:
selected = initialPredictions.select("defaultIndex", "prediction")

In [124]:
initialPredictions.select("prediction")

DataFrame[prediction: double]

In [125]:
display(selected.toPandas())

      defaultIndex  prediction
0              0.0         0.0
1              0.0         0.0
2              0.0         0.0
3              0.0         0.0
4              0.0         0.0
5              0.0         0.0
6              0.0         0.0
7              0.0         1.0
8              0.0         0.0
9              0.0         0.0
10             0.0         1.0
11             0.0         0.0
12             0.0         0.0
13             0.0         0.0
14             0.0         0.0
15             0.0         0.0
16             0.0         0.0
17             0.0         0.0
18             0.0         0.0
19             0.0         0.0
20             0.0         0.0
21             0.0         0.0
22             0.0         0.0
23             0.0         0.0
24             0.0         0.0
25             0.0         0.0
26             0.0         0.0
27             0.0         0.0
28             0.0         0.0
29             0.0         0.0
...            ...         ...
8974           1.0         1.0
8975           1.0         0.0
8976           1.0         0.0
8977           1.0         0.0
8978           1.0         0.0
8979           1.0         0.0
8980           1.0         0.0
8981           1.0         0.0
8982           1.0         0.0
8983           1.0         0.0
8984           1.0         0.0
8985           1.0         0.0
8986           1.0         0.0
8987           1.0         0.0
8988           1.0         0.0
8989           1.0         0.0
8990           1.0         0.0
8991           1.0         0.0
8992           1.0         0.0
8993           1.0         0.0
8994           1.0         1.0
8995           1.0         0.0
8996           1.0         1.0
8997           1.0         0.0
8998           1.0         0.0
8999           1.0         0.0
9000           1.0         0.0
9001           1.0         0.0
9002           1.0         0.0
9003           1.0         1.0

[9004 rows x 2 columns]

In [126]:
from pyspark.ml.evaluation import RegressionEvaluator

# Evaluate model using the RegressionEvaluator
evaluator = RegressionEvaluator(predictionCol="prediction", labelCol="defaultIndex")
evaluator.evaluate(initialPredictions)

0.4185025451242001

### Evaluate

In [130]:
treeModel = initialModel.stages[1]

In [131]:
print(treeModel)

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_464c8ea6c786cd0acd3b) of depth 5 with 61 nodes

In [132]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

predictions = initialModel.transform(testData)

# Select example rows to display.
predictions.select("prediction", "defaultIndex", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="defaultIndex", predictionCol="prediction", metricName="precision")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

+----------+------------+--------------------+
|prediction|defaultIndex|            features|
+----------+------------+--------------------+
|       0.0|         0.0|(27,[0,1,8,9,10,1...|
|       0.0|         0.0|[10000.0,22.0,-1....|
|       0.0|         0.0|(27,[0,1,3,8,9,10...|
|       0.0|         0.0|(27,[0,1,8,9,10,1...|
|       0.0|         0.0|(27,[0,1,8,9,10,1...|
+----------+------------+--------------------+
only showing top 5 rows

Test Error = 0.175144

In [139]:
treeModel.explainParam()

TypeError: explainParam() takes exactly 2 arguments (1 given)

## Random forest

In [29]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(numTrees = 10, maxDepth = 10, labelCol="defaultIndex", featuresCol="features")

In [142]:
#rfPipeline = Pipeline(stages = [assembler, rf])

In [30]:
#initialModel = rfPipeline.fit(trainingData)
rfModel = rf.fit(trainingData)

In [70]:
#dtm = initialModel.stages[0] # you estimator is the last stage in the pipeline
# hence the DecisionTreeClassifierModel will be the last transformer in the PipelineModel object 
#list(rfModel.featureImportances.values)
spark_df.columns[1:-1]

['LIMIT_BAL',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'sexIndex',
 'educationOne',
 'marriageOne']

## Logistic Regression

In [295]:
from pyspark.ml.classification import LogisticRegression

In [296]:
log = LogisticRegression(labelCol="defaultIndex", featuresCol="features")

In [297]:
lmPipeline = Pipeline(stages=[assembler, log])

In [298]:
logisticModel = lmPipeline.fit(trainingData)

In [299]:
predictions = logisticModel.transform(testData)

# Select example rows to display.
predictions.select("prediction", "defaultIndex", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="defaultIndex", predictionCol="prediction", metricName="precision")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

/usr/hdp/current/spark-client/python/pyspark/ml/classification.py:207: UserWarning: weights is deprecated. Use coefficients instead.
  warnings.warn("weights is deprecated. Use coefficients instead.")

+----------+------------+--------------------+
|prediction|defaultIndex|            features|
+----------+------------+--------------------+
|       0.0|         0.0|[0.0,0.0,3.0,2.0,...|
|       0.0|         1.0|[2.0,2.0,2.0,0.0,...|
|       1.0|         1.0|[2.0,2.0,3.0,3.0,...|
|       0.0|         0.0|           (5,[],[])|
|       0.0|         1.0|           (5,[],[])|
+----------+------------+--------------------+
only showing top 5 rows

Test Error = 0.209919